<div class="banner">
    <div>
        <a class="btn back-button" (click)="navigateToHomePage()" >&lt; Home</a>
      </div>
    <div class="category-info-container">
      <img *ngIf="supportTopicIcon != undefined && supportTopicIcon != ''" class="category-icon" src={{supportTopicIcon}} />
      <ngx-avatar *ngIf="supportTopicIcon == undefined || supportTopicIcon == ''" [name]="supportTopicName" class="category-icon-avatar" [round]="false" initialsSize="2" size="100"></ngx-avatar>
      <div class="category-title">
        <span class="catogory-name">
          {{supportTopicName}}
        </span>
        <div class="category-description">
          <span >
            {{supportTopics.length}} support topics, {{detectorsNumber}} detectors
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- supportTopicL2Name: string;
  subItems: SupportTopicItem[];
  supportTopicId: string;
  supportTopicL3Name: string;
  supportTopicPath: string;
  icon: string;
  detectorId: string; -->



  <div class="detector-list">
    <div class="flexed-detector card" *ngFor="let supportTopic of supportTopics; let i=index" (click)="navigateToContent(supportTopic)">
      <div class="detector-top row">
          <div class="col-md-2 detector-icon">
          <ngx-avatar [name]="supportTopic.supportTopicL3Name" [round]="true" initialsSize="2"></ngx-avatar>
        </div>
        <div class="col-md-10 detector-name">
              {{supportTopic.supportTopicL3Name}}
        </div>
      </div>
      <div class="detector-bottom">
          <div class="detector-description">
              <div>
              <div *ngIf="supportTopic.detectorName !== ''" class="label label-success detector-enabled-description">
                Detector Enabled

              </div>
              <div class="detector-enabled-name">
                  <span *ngIf="supportTopic.detectorName !== ''" class="detector-enabled">{{supportTopic.detectorName}}</span>
              </div>
              </div>
              <div *ngIf="supportTopic.detectorName === ''" class="label label-default detector-disabled-description">Self Help Content</div>

            </div>
          <div class="detector-authors">
             ID: {{supportTopic.supportTopicId}}
          </div>
      </div>
    </div>
    <div *ngIf="supportTopics == undefined || supportTopics.length === 0" class="loading-page">
        <i class="fa fa-spinner fa-spin fa-4x fa-fw"></i>
      </div>
  </div>


