<aside class="main-sidebar">

  <section class="sidebar">
    <collapsible-menu theme="light">
      <search-box [(searchValue)]="searchValue"></search-box>
      <menu-scroll>
        <section-divider label="Analysis" [hidden]="analysisTypes.length === 0">
          <collapsible-menu-item *ngFor="let item of analysisTypes" [menuItem]="item"></collapsible-menu-item>
        </section-divider>
        <section-divider [label]="'➕ Create'" [initiallyExpanded]="false">
          <collapsible-menu-item *ngFor="let item of createNew" [menuItem]="item"></collapsible-menu-item>
        </section-divider>
        <section-divider [label]="'📄 Documentation'" [initiallyExpanded]="false">
          <collapsible-menu-item *ngFor="let doc of documentation" [menuItem]="doc"></collapsible-menu-item>
        </section-divider>
        <section-divider [label]="'🔎 Detectors'">
          <collapsible-menu-item *ngFor="let category of categories" [searchValue]="searchValue" [menuItem]="category"></collapsible-menu-item>
        </section-divider>
        <section-divider [label]="'🔳 Gists'" [initiallyExpanded]="false">
          <collapsible-menu-item *ngFor="let gist of gists" [searchValue]="searchValue" [menuItem]="gist"></collapsible-menu-item>
        </section-divider>
      </menu-scroll>
    </collapsible-menu>
  </section>
</aside>