<aside class="main-sidebar">

  <section class="sidebar">

    <div class="user-panel" [class.active]="doesMatchCurrentRoute('home')" (click)="navigateTo('home/category')">
      <div class="pull-left image">
        <img [src]="resourceService.imgSrc" class="resource-logo" style="max-width:25px">
      </div>
      <div class="info">
        <p>{{resourceService.getResourceName()}}</p>
      </div>
    </div>


  <ngx-smart-modal #devModeModal identifier="devModeModal" [customClass]="'wide-modal'">
      <div class="modal-header" style="background-color: #373277; padding: 10px 15px 10px 15px">
        <h4 class="modal-title" id="myModalLabel" style="color:white">Get Developing Options</h4>
      </div>
      <div class="modal-content">
        <div id="dev-box">
          <div>
            <h4 style="font-weight: bold; color:#373277">Local Development Prerequisites</h4>
            <p>1. Make sure you have installed
              <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a> and <a
                href="https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp" target="_blank">C# extension
              </a> locally.</p>
            <p>2. Install
              <a href="https://nodejs.org/en/" target="_blank">Node.js
              </a> with version 8.x or later.</p>
            <p>2. Install
              <a href="https://git-scm.com/download/win" target="_blank">Git
              </a> locally.</p>
            <br>

            <h4 style="font-weight: bold; color: #373277">Local Development Instructions</h4>
            <p>1. Download local detector packages</p>
            <p>2. Extract the zip file</p>
            <p>3. Launch the startup.cmd</p>
          </div>

          <a class="custom-btn custom"
            href="https://msit.microsoftstream.com/video/a90ea3b0-55bb-4b96-a43b-a4de363e1f4a?list=studio"
            target="_blank">
            <i class="fa fa-play-circle"></i> Watch Demo Video
          </a>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="hiddenModal" [checked]="hideModal"
              (change)="hideModal = !hideModal">
            <label class="form-check-lable" for="hiddenModal"
              style="color:lightslategray; font-weight: 100; margin-top: 30px">Don't show this message
              automatically</label>
          </div>
          <div style="margin-top:0px;margin-bottom: 10px; padding-top: 10px; padding-bottom: 20px">
            <button type="button" class="btn"
              style="background-color: #373277; color:white; padding:0px 10px 0px 0px; margin-right: 10px; height: 35px;"
              (click)="downloadLocalDevTools()" [class.disabled]="localDevButtonDisabled">
              <img src="assets\img\Local-Dev-Logo.png"> {{localDevText}}
            </button>
            <span style="font-weight:bold">OR</span>
            <button type="button" class="btn"
              style="background-color: white; border-color: #373277; color:#373277; height: 33px; margin-left: 10px; height: 35px;"
              (click)="dismissDevModal()">Continue Online</button>
          </div>
        </div>
      </div>
    </ngx-smart-modal>

    <collapsible-menu theme="dark">
      <search-box [(searchValue)]="searchValue"></search-box>
      <menu-scroll>
        <section-divider label="Analysis" [hidden]="analysisTypes.length === 0">
          <collapsible-menu-item *ngFor="let item of analysisTypes" [menuItem]="item"></collapsible-menu-item>
        </section-divider>
        <section-divider label="Create">
          <collapsible-menu-item *ngFor="let item of createNew" [menuItem]="item"></collapsible-menu-item>
        </section-divider>
        <section-divider label="Documentation">
          <collapsible-menu-item *ngFor="let doc of documentation" [menuItem]="doc"></collapsible-menu-item>
        </section-divider>
        <section-divider label="Detectors">
          <collapsible-menu-item *ngFor="let category of categories" [searchValue]="searchValue" [menuItem]="category">
          </collapsible-menu-item>
        </section-divider>
        <section-divider label="Gists">
          <collapsible-menu-item *ngFor="let gist of gists" [searchValue]="searchValue" [menuItem]="gist">
          </collapsible-menu-item>
        </section-divider>
      </menu-scroll>
    </collapsible-menu>
  </section>
</aside>