.site-content {
    padding-top: 50px;
}

side-nav {
    position: fixed;
    top: 50px;
}

.logo {
    cursor: pointer;
    position: fixed;
    top: 0;
}

.logo1 {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
}

.white-background {
    background-color: white;
}

.gray-background {
    background-color: rgb(240, 240, 240);
}

.app-title {
    color: #ffb353
}

.content-wrapper.white-background, .content-wrapper.gray-background {
    min-height: calc(100vh - 50px);
    height: 100%;

    // Nested onboarding-flow components have two navbars totalling 92px
    ::ng-deep onboarding-flow {
        height: calc(100vh - 92px);
    }

    // The immediate child onboarding-flow does not have a 42px header
    ::ng-deep>onboarding-flow {
        height: calc(100vh - 50px);
    }
}

.avatar {
    width:50px;
    height: 50px;
    float: right;
    margin-right:10px;


    // background-color: #367fa9;
    // color: #ffffff;
    // border-bottom: 0 solid transparent;

    // transition: width .3s ease-in-out;
    // display: block;
    // height: 50px;
    // font-size: 20px;
    // line-height: 50px;
    // text-align: center;
    // width: 230px;
    // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    // padding: 0 15px;
    // font-weight: 300;
    // overflow: hidden;
}

.user-label {
    top: 15px;
    color: white;
    right: 15px;
    font-weight: bold;
}

.loading-element {
    top: 15px;
    right: 15px;
    width:50px;
    height: 50px;
    float: right;
    margin-right:10px;
    color: white;
    margin-top: 15px;
}
