<div *ngIf="!checkingSupportedTier && !supportedTier">
  <div class="focus-box focus-box-warning" style="margin-top:20px">
    <div>
      <strong>Error</strong> - This tool is supported only on Dedicated SKU's
    </div>
  </div>
</div>

<div class="col" *ngIf="checkingSupportedTier">
  <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
  Checking if the WebApp is running in a supported Tier
</div>

<div class="col" *ngIf="retrievingDiagnosers">
  <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
  Retrieving Diagnoser settings...
</div>

<div *ngIf="!retrievingDiagnosers">

  <div>
      <select (change)="chooseDiagnoserAction($event.target.value)" [ngModel] = "diagnoserOption" >     
          <option value='CollectLogs'>Collect Logs only</option>
          <option value='Troubleshoot'>Collect and Analyze Data</option>
          <option value='CollectKillAnalyze'>Collect and Analyze Logs and Kill Process</option>
        </select>
  </div>

  <div>
    <select (change)="chooseDiagnoser($event.target.value)" [ngModel] = "diagnoserName">     
      <option *ngFor="let diagnoser of Diagnosers" value= '{{diagnoser.Name}}'>
          {{diagnoser.Name}}
      </option>
    </select>    
  </div>
</div>