<div class="container">
  <div class="header1">{{ title }}</div>
  <p>{{ description }}</p>

  <cpu-monitoring [siteToBeDiagnosed]="siteToBeDiagnosed" [scmPath]="scmPath"></cpu-monitoring>

  <div class="header2">What you should know before enabling CPU Monitoring</div>
  <ul>
    <li *ngFor="let statement of thingsToKnowBefore">{{statement}}</li>
  </ul>

  <div style="display:inline">Click
    <div style="display:inline" [routerLink]="allSessions">
      <a>here</a> to see all sessions</div>
  </div>

</div>