.risk-tile {
    padding: 10px 20px 0px 20px;
    width: 300px;
    height: 100%;
    border: 1px solid rgba(204, 204, 204, 0.5);
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.risk-title {
    font-size: 14px;
    font-weight: 600;
}

.risk-section {
  margin-bottom : 10px;
}

.risk-icon {
  height : 14px;
  width: 14px;
  margin-right : 5px;
}

.risk-icon-section {
  margin-right : 20px;
}

.fa-exclamation-circle {
  color: #ff0000;
}

.fa-exclamation-triangle {
  color: #ff9104;
}

.fa-check-circle {
  color: #3da907;
}