<div class="container">
    <div *ngIf="retrievingInfo">
        <i class="fa fa-circle-o-notch fa-2x fa-spin spin-icon" aria-hidden="true"></i>
        <span class="loading-message">Checking all connection strings for the Web App</span>
    </div>

    <div>
        <ol class="list-group" *ngFor="let connection of dbTestResult; let i = index">
            <li class="list-group-item" *ngIf="connection.ConnectionString.toLowerCase().indexOf('defaultendpointsprotocol') === -1">
                <div class="label label-warning connection-heading">{{ connection.Name }}</div>
                <div>Provider:
                    <span>{{ connection.ProviderName }}</span>
                </div>
                <div>Connection String:
                    <span class="highlight-blue">{{ connection.MaskedConnectionString }} </span>
                </div>
                <div>Connection String (raw):
                        <span class="highlight-blue">{{ connection.ConnectionString }} </span>
                    </div>
                <div *ngIf="connection.IsEnvironmentVariable">Scope :
                    <span> Defined as Environment Variable </span>
                    <div *ngIf="!connection.DummyValueExistsInWebConfig" class="tool-tip">

                        <i class="fa fa-exclamation-triangle" style="color:rgb(180, 10, 10)"></i>
                        <span class="tool-tip-text"> We found that the connection string is defined only as an environment variable and no dummy value
                            exists in the web.config. Application code attempting to retrieve this connnecting string via
                            call to ConfigurationManager.ConnectionStrings API will fail</span>
                    </div>
                </div>
                <div *ngIf="connection.FilePath !== null">
                    File: {{ connection.FilePath }}
                </div>
                <div *ngIf="connection.LineNumber > 0">
                    Line : {{ connection.LineNumber }}
                </div>


                <div class="stepper-container status">

                    <div class="stepper-step" *ngIf="connection.Succeeded">
                        <div class="stepper-circle stepper-circle-green">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        <div class="stepper-title">
                            The connection string configuration is correct
                        </div>
                        <div class="stepper-description">
                            We could connect successfully to this connection.
                        </div>
                    </div>

                    <div class="stepper-step" *ngIf="!connection.Succeeded">
                        <div class="stepper-circle stepper-circle-red">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <div class="stepper-title">
                            Failed with exception {{ connection.ExceptionDetails.ClassName }}
                        </div>
                        <div class="stepper-description">
                            {{ connection.ExceptionDetails.Message }}
                        </div>
                    </div>
                </div>

            </li>
        </ol>
    </div>
    <div class="focus-box focus-box-warning" style="margin-top:20px" *ngIf="error">
        <div>
            <strong>Error</strong> - {{ error.message }}
        </div>
    </div>