.outline-box{
    border: 1px solid #ebebeb;
    padding: 8px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

.highlight-blue {
  color: #286090;
  font-weight: bold;
}
.fixed-width {
  width: 180px;
}

label input[type="radio"] {
  vertical-align: text-bottom;
}
