<button type="button" class="btn btn-primary" (click)="addNewRule()" *ngIf="Rule == null && !editMode">
  Configure Request Count Rule
</button>
<table class="table table-bordered" *ngIf="!editMode && Rule != null">
  <thead>
    <tr>
      <th>
        Request Count
      </th>
      <th>
        Duration
      </th>
      <th>
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ Rule.count }}</td>
      <td>{{ Rule.timeInterval }}</td>
      <td>
        <button class="image-btn" *ngIf="!editMode" (click)="editRule()">
          <i class="fa fa-edit"></i>
        </button>
        <button class="image-btn" *ngIf="!editMode" (click)="deleteRule()">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="form-group" *ngIf="editMode">
  <div class="row">
    <label for="requests">After how many requests you want this condition to kick in ?</label>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <input type="number" class="form-control" id="requests" aria-describedby="requestCountHelp" placeholder="Enter count" [(ngModel)]="RuleCopy.count">
    </div>
    <div class="col-sm-12">
      <small id="requestCountHelp" class="form-text text-muted">After the process has served these many requests in the duration configured below, the configured action will be taken
      </small>
    </div>
  </div>

  <div class="row">
    <label for="durationCount">How frequently (in seconds) you want to check ?</label>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <timespan [(TimeSpan)]="RuleCopy.timeInterval" placeholder="e.g. 60"></timespan>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary" [disabled]="!isValid()" (click)="saveRule()">Ok</button>
    </div>
  </div>
</div>