<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings xdt:Transform="Replace">
  </appSettings>
  <system.webServer>
    <security xdt:Transform="Replace">
      <access sslFlags="Ssl,SslNegotiateCert" />
    </security>
    <modules runAllManagedModulesForAllRequests="true" xdt:Transform="Replace">
      <add name="AuthenticationModule" type="AscInsightsGeo.Security.AuthenticationModule" />
    </modules>
  </system.webServer>
</configuration>