<button type="button" class="btn btn-primary" (click)="addNewRule()" *ngIf="Rule == null && !editMode">
  Configure Slow Request rule
</button>

<table class="table table-bordered" *ngIf="!editMode && Rule != null">
  <thead>
    <tr>
      <th>
        Request Count
      </th>
      <th>
        Time Taken
      </th>
      <th>
        Duration
      </th>
      <th>
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ Rule.count }}</td>
      <td>{{ Rule.timeTaken }}</td>
      <td>{{ Rule.timeInterval }}</td>
      <td>
        <button class="image-btn" *ngIf="!editMode" (click)="editRule()">
          <i class="fa fa-edit"></i>
        </button>
        <button class="image-btn" *ngIf="!editMode" (click)="deleteRule()">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="editMode" class="form-group">
  <div class="row">
    <label for="requestsCountSlow">After how many slow requests you want this condition to kick in ?</label>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <input type="number" min="1" class="form-control" id="requestsCountSlow" aria-describedby="requestsCountSlowHelp" placeholder="Enter count"
        [(ngModel)]="RuleCopy.count" min="1">
    </div>
    <div class="col-sm-12">
      <small id="requestsCountSlowHelp" class="form-text text-muted">If there are these many slow requests in the duration configured below, the configured action will be taken</small>
    </div>
  </div>

  <div class="row">
    <label for="timeTakenSlow">What should be minimum duration (in seconds) for these slow requests ?</label>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <timespan [(TimeSpan)]="RuleCopy.timeTaken" placeholder="e.g. 60"></timespan>
    </div>
  </div>

  <div class="row">
    <label for="durationSlow">How frequently (in seconds) you want to check?</label>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <timespan [(TimeSpan)]="RuleCopy.timeInterval" placeholder="e.g. 300"></timespan>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary" [disabled]="!isValid()" (click)="saveRule()">Ok</button>
    </div>
  </div>

</div>