<div class="main-content">
  <div style="margin-left:20px">
    <comm-alert></comm-alert>
    <detector-container [detector]="analysisId"></detector-container>

    <!-- <div class="btn-group" role="group" aria-label="...">
      <ng-container *ngFor="let detector of detectors">
          <button type="button" class="btn btn-default" [routerLink]="detector.routerLink" preserveFragment queryParamsHandling="preserve"
          [routerLinkActive]="['active', 'active-tab' ]" [routerLinkActiveOptions]="{exact: true}">{{ detector.name }}</button>
        </ng-container> 

    </div>-->
  </div>

  <div [hidden]="detectorId !== ''">

    <mat-vertical-stepper>
      <mat-step label="Observations">
        <table class="table table-hover table-fixed">
          <thead>
            <tr>
              <th>Status</th>
              <th colspan="2">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let viewModel of detectorViewModels">
              <td class="col-md-1">
                <div class="status-icon">
                  <status-icon [loading]="viewModel.loadingStatus" [status]="viewModel.status" [size]="20">
                  </status-icon>
                </div>
              </td>
              <td> {{ viewModel.title }}
              </td>
              <td>
                <div *ngIf="viewModel.loadingStatus === 1">
                  <a [routerLink]="getRouterLink(viewModel.metadata.id)" preserveFragment queryParamsHandling="preserve"
                    [routerLinkActive]="['active', 'active-tab' ]" [routerLinkActiveOptions]="{exact: true}">More
                    Info</a>
                  <i class="fa fa-arrow-circle-o-right" style="margin-left:5px; font-size: 15px"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-step>
      <mat-step label="Troubleshooting and Next Steps">

      </mat-step>
      <ng-template matStepperIcon="number">
        <i aria-hidden="true" class="fa fa-search"></i>
      </ng-template>
      <ng-template matStepperIcon="edit">
        <i aria-hidden="true" class="fa fa-search"></i>
      </ng-template>
    </mat-vertical-stepper>


  </div>

  <!-- <div class="nav-container" [hidden]="detectorId === ''">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a [routerLink]="['./']" preserveFragment queryParamsHandling="preserve"
          [routerLinkActive]="['active', 'active-tab' ]" [routerLinkActiveOptions]="{exact: true}">Data</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['datasource']" queryParamsHandling="preserve" [routerLinkActive]="['active', 'active-tab']"
          [routerLinkActiveOptions]="{exact:true}">Data Sources</a>
      </li>
    </ul>
  </div> -->
  <div style="margin-left:20px" class="tab-container" [hidden]="detectorId === ''">
    <div style="margin-left:20px">
      <button *ngIf="detectorId !== ''" class="btn btn-primary" [routerLink]="['../']" preserveFragment
        queryParamsHandling="preserve">Back to Analysis</button>
      <h4>{{ detectorName }}</h4>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>