<div class="container">
  <div class="header1">Configure Mitigation Rules</div>
  <div>Mitigation provides you an easy way to recover from situations when your app is not responding properly. The triggers and
    actions allow you to define various conditions based on request count, slow requests, memory limit on which you can take
    specific actions like restart the process, log an event or start another executable. </div>

  <div class="col" *ngIf="retrievingAutohealSettings" style="margin-top: 15px;">
    <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
    Retrieving autoHealing settings...
  </div>

  <div *ngIf="!retrievingAutohealSettings">
    <div style="margin-top: 15px;">
      <toggle-button ToggleText="Auto-Healing Enabled" [selected]="autohealingSettings.autoHealEnabled" (selectedChange)="autohealingSettings.autoHealEnabled = $event; checkForChanges()"></toggle-button>
    </div>

    <div *ngIf="autohealingSettings.autoHealEnabled">
      <div class="header2">1. Define Conditions</div>
      <div class="tile-content">
        <ng-container *ngFor="let trigger of triggers; let i = index;">
          <div class="tile" tabindex="0" (click)="updateTriggerStatus(i)" [class.active]="triggerSelected == i" [class.activeAction]="triggers[i].IsConfigured">
            <div class="tile-icon">
              <div class="icon-template">
                <i [class]="trigger.Icon"></i>
              </div>
              <div>{{ trigger.Name }}</div>
            </div>
          </div>
        </ng-container>

        <div class="forminput" *ngIf="triggerSelected >= 0">
          <autohealing-slowrequests-rule *ngIf="triggerSelected == 0" [Rule]="autohealingSettings.autoHealRules.triggers.slowRequests"
            (RuleChange)="triggerRuleUpdated($event, triggerSelected)"></autohealing-slowrequests-rule>
          <autohealing-memory-rule *ngIf="triggerSelected == 1" [Rule]="autohealingSettings.autoHealRules.triggers.privateBytesInKB"
            (RuleChange)="triggerRuleUpdated($event, triggerSelected)"></autohealing-memory-rule>
          <autohealing-requests-rule *ngIf="triggerSelected == 2" [Rule]="autohealingSettings.autoHealRules.triggers.requests" (RuleChange)="triggerRuleUpdated($event, triggerSelected)"></autohealing-requests-rule>
          <autohealing-statuscodes-rule *ngIf="triggerSelected == 3" [Rule]="autohealingSettings.autoHealRules.triggers.statusCodes"
            (RuleChange)="triggerRuleUpdated($event, triggerSelected)"></autohealing-statuscodes-rule>
        </div>
      </div>

      <div class="header2">2. Configure Actions</div>
      <div class="tile-content">
        <ng-container *ngFor="let action of actions; let i = index;">
          <div class="tile" [class.activeAction]="actionSelected == i" (click)="updateActionStatus(i)">
            <div class="tile-icon">
              <div class="icon-template">
                <i [class]="action.Icon" aria-hidden="true"></i>
              </div>
              <div>{{ action.Name }} </div>
            </div>
          </div>
        </ng-container>
        <div [hidden]="actionSelected != 2 || actionCollapsed">
          <autohealing-custom-action [siteToBeDiagnosed]="siteToBeDiagnosed" [customAction]="customAction" (customActionChanged)="updateCustomAction($event)"></autohealing-custom-action>
        </div>
      </div>

      <div>
        <div class="header2">3. Review and Save your Settings</div>
        <div class="summary tile-content">
          <div *ngIf="originalSettings">
            <strong>Current Settings</strong>
            <div style="margin-top: 10px" *ngIf="originalSettings.Conditions.length > 0 && originalSettings.Action !== ''">
                {{ originalSettings.Action }}
                <span class="actionExe" *ngIf="originalSettings.ActionExe !==''">{{ originalSettings.ActionExe }}</span>
                when
              <ul> 
                  <li *ngFor="let condition of originalSettings.Conditions;let i = index;"> 
                    {{ condition }} 
                    <span *ngIf="i < (originalSettings.Conditions.length -1)"> or,</span>
                  </li>
              </ul>
            </div>
            <div *ngIf="originalSettings.Conditions.length == 0 || originalSettings.Action === ''">
                No rule configured !
              </div>
          </div>
          <div *ngIf="currentSettings && settingsChanged">
              <strong>New Settings</strong>
              <div style="margin-top: 10px" *ngIf="currentSettings.Conditions.length > 0 && currentSettings.Action !== ''">
                {{ currentSettings.Action }}
                <span class="actionExe" *ngIf="currentSettings.ActionExe !==''">{{ currentSettings.ActionExe }}</span>
                when
                <ul> 
                    <li *ngFor="let condition of currentSettings.Conditions;let i = index;"> 
                      {{ condition }} 
                      <span *ngIf="i < (currentSettings.Conditions.length -1)"> or,</span>
                    </li>
                </ul>
              </div>
              <div *ngIf="currentSettings.Conditions.length == 0 || currentSettings.Action === ''">
                No rule configured !
              </div>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="!retrievingAutohealSettings" class="saveSection tile-content">
      <button type="button" class="btn btn-primary" [disabled]="!saveEnabled" (click)="saveChanges()">Save</button>
      <div *ngIf="savingAutohealSettings" class="inline">
        <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
        Saving AutoHeal settings...
      </div>
      <div *ngIf="changesSaved" class="inline" style="color:#0058ad">
        Changes Saved !!!
      </div>
    </div>
  </div>