<div class="banner">
  <div>
    <button class="btn back-button" (click)="navigateToHomePage()" >&lt; Home</button>
  </div>
  <div class="category-info-container">
    <img class="category-icon" src={{categoryIcon}} />
    <div class="category-title">
      <span class="catogory-name">
        {{categoryName}}
      </span>
      <div class="category-description">
        <span >
          {{detectorsNumber}} detectors, {{authorsNumber}} contributors
        </span>
      </div>
    </div>
  </div>
</div>
<div class="detector-list">
  <div class="flexed-detector card" *ngFor="let detector of detectors; let i=index">
    <div class="detector-top row" (click)="detector.onClick()">
      <div class="col-md-2 detector-icon">
        <ngx-avatar [name]="detector.name" [round]="true" initialsSize="2"></ngx-avatar>
        <!-- <ngx-avatar facebookId="100006264431560"></ngx-avatar> -->
      </div>
      <div class="col-md-10 detector-name">
        {{detector.name}}
      </div>
    </div>
    <div class="detector-bottom">
      <div class="detector-description" (click)="detector.onClick()">
        {{detector.description}}
      </div>
      <div class="detector-authors">
        <div *ngFor="let image of detector.userImages | keyvalue" class="author-image"  (click)="navigateToUserPage(image.key)" >
          <img *ngIf="image.value != undefined && image.value !== ''" class="author-image" src="{{image.value}}"  (click)="navigateToUserPage(image.key)"  />
          <ngx-avatar *ngIf="image.value == undefined || image.value === ''" class="author-initial" [name]=image.key size="35" initialsSize="2"  (click)="navigateToUserPage(image.key)" ></ngx-avatar>
        </div>
        <span class="author-String">{{detector.authorString}}</span>
      </div>
    </div>
  </div>
</div>


