.option-group {
    display: flex;
}

.settings-label {
    color: black;
    font-size: 13px;
}

.toggle-button {
    min-width: 180px;
}

.insight-expand-icon {
    font-weight: bold;
    float:left;
    font-size:18px;
    min-height: 1px;
    min-width: 1.5%;
    margin-right:10px;
}