<div class="outer-container">
  <div class="alert-container">
    <comm-alert></comm-alert>
  </div>

  <div class="container">
    <!-- <div class="flexbox"> -->

      <!-- 
        <collapsible-menu theme="dark">
          <search-box [(searchValue)]="searchValue"></search-box>
          <menu-scroll>
            <section-divider label="Detectors">
              <collapsible-menu-item *ngFor="let category of categories" [searchValue]="searchValue" [menuItem]="category"></collapsible-menu-item>
            </section-divider>
            <section-divider label="Gists">
              <collapsible-menu-item *ngFor="let gist of gists" [searchValue]="searchValue" [menuItem]="gist"></collapsible-menu-item>
            </section-divider>
          </menu-scroll>
        </collapsible-menu> -->

        <div class="flexed card" *ngFor="let category of categories">
            <div class="top"><img class="icon"
                src="http://a2.mzstatic.com/us/r30/Purple6/v4/35/da/1a/35da1a3b-619b-8cf4-beb4-cb1346dfc91f/mzl.yooqqlia.png" />
              <div class="management actions">
                <h2>Show App Key</h2><input type="text" placeholder="Password" /><input type="button" value="show" /><input
                  class="special block" type="button" value="+ Add platform" />
              </div>
            </div>
            <div class="bottom">
              <div class="name info">{{category.label}}</div>
              <div class="actions"><input type="text" placeholder="Rename" value="Tinder" /><input type="button"
                  value="rename" /></div>
            </div>
          </div>
  </div>
  <!-- 

  <div class="resource-info content-card">
    <h4>Resource Information</h4>
    <div *ngFor="let key of keys">
      <b>{{key}}:</b> {{resource[key]}}
    </div>
  </div>

  <div class="detector-list content-card">
    <h4>Detectors Enabled For Support Topics</h4>
    <table>
      <thead>
        <th>
          Pes Id
        </th>
        <th>
          Support Topic Id
        </th>
        <th>
          Detector
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let s of supportTopicIdMapping">
          <td>
            {{s.supportTopic.pesId}}
          </td>
          <td>
            {{s.supportTopic.id}}
          </td>
          <td>
            {{s.detectorName}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->